#divTitulo{
    background-color: black;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#titulo{
    color: aliceblue;
    text-align: center;
    font-size: 5vh;
}

#contenedor{
    
    background-color: aquamarine;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


#personajes1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0vh;
    font-size: 5vh;
}

#personajes2{
    background-color: rgb(39, 39, 158);
    height: 66vh;
    width: 75%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    border-radius: 5vh;

}


#imagenContainer{
    background-color: rgb(177, 177, 199);
    width: 60vh;
    width: 60vh;
    margin:5vh;
}

#feet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 9vh;
   
}

#creador{
    color: aliceblue;
    font-size:2vh;
    margin-bottom: 2vh;
}


#contEnviar{
    margin-top: 1%;
}

#cambiarImg{
    margin: 2%;
    border-radius: 5vh;
    height: 5vh;
    width: 50vh;
    font-size: 2vh;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}


#nombre{
    height: 1.5vh;
    margin-bottom: 2vh;
}